Repository guitarbeat/Naming-Nosferatu: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, biome, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    oxlint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm dlx oxlint {staged_files}
    biome:
      glob: "*.{js,jsx,ts,tsx,css}"
      run: pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    types:
      glob: "*.{ts,tsx}"
      run: pnpm run lint:types

Refactor: Flatten shared utils directory and update imports
  src/App.tsx
  src/core/hooks/tournamentHooks.ts
  src/core/hooks/useRouting.ts
  src/core/hooks/useUserSession.ts
  src/features/analytics/components/AnalysisDashboard.tsx
  src/features/analytics/components/AnalysisInsights.tsx
  src/features/analytics/components/AnalysisTable.tsx
  src/features/analytics/hooks/useAnalysisDisplayData.ts
  src/features/auth/hooks/authHooks.ts
  src/features/profile/hooks/useProfile.ts
  src/features/profile/hooks/useProfileNotifications.tsx
  src/features/tournament/Tournament.tsx
  src/features/tournament/components/AnalysisWrappers.tsx
  src/features/tournament/components/PersonalResults.tsx
  src/features/tournament/components/TournamentSidebar/PhotoComponents.tsx
  src/features/tournament/hooks/tournamentComponentHooks.ts
  src/features/tournament/hooks/useTournamentState.test.tsx
  src/features/tournament/tournamentUtils.ts
  src/shared/components/Button/Button.tsx
  src/shared/components/Card/Card.tsx
  src/shared/components/NameGrid/NameGrid.tsx
  src/shared/components/NameManagementView/nameManagementCore.tsx
  src/shared/hooks/useAppHooks.ts
  src/shared/providers/AuthProvider.tsx
  src/shared/utils/array.ts
  src/shared/utils/auth.ts
  src/shared/utils/cache.ts
  src/shared/utils/core/index.ts
  src/shared/utils/date.ts
  src/shared/utils/export.ts
  src/shared/utils/index.ts
  src/shared/utils/logger.ts
  src/shared/utils/metrics.ts
  src/shared/utils/names.ts
  src/shared/utils/performance.ts
  src/shared/utils/ui.ts
  src/shared/utils/validation.ts
Due: oxlint, biome, types

Refactor: Consolidate auth utils and remove deprecated CommonUI shim
  TODO.md
  src/App.tsx
  src/core/hooks/useUserSession.ts
  src/features/auth/utils/authUtils.ts
  src/features/profile/hooks/useProfileNotifications.tsx
  src/features/tournament/Dashboard.tsx
  src/features/tournament/Tournament.tsx
  src/features/tournament/TournamentSetup.tsx
  src/features/tournament/components/TournamentLoadingState/TournamentLoadingState.tsx
  src/features/tournament/components/TournamentMatch/TournamentMatch.tsx
  src/shared/components/CommonUI.tsx
  src/shared/components/NameManagementView/NameManagementView.tsx
  src/shared/components/ViewRouter/ViewRouter.tsx
  src/shared/hooks/useAppHooks.ts
  src/shared/providers/AuthProvider.tsx
  src/shared/utils/index.ts
Due: oxlint, biome, types

docs: Update TODO.md with completed consolidation tasks
  TODO.md
Due: none

Refactor: Complete AppNavbar consolidation by removing navbarCore.tsx
  src/shared/components/AppNavbar/AppNavbar.tsx
  src/shared/components/AppNavbar/NavbarToggles.tsx
  src/shared/components/AppNavbar/navbarCore.tsx
Due: oxlint, biome, types

docs: Update TODO.md with completed AppNavbar consolidation
  TODO.md
Due: none

docs: Mark navigation consolidation as complete in .dev specs
  .dev/specs/navigation-consolidation/tasks.md
Due: none

docs: Mark Header vs Navbar analysis as complete
  TODO.md
Due: none

docs: Document tournament logic migration opportunity
  TODO.md
Due: none

docs: Document type definition DRY violations in TODO.md
  TODO.md
Due: none

refactor: Rename TournamentState to TournamentUIState to eliminate naming conflict
  src/core/hooks/tournamentHooks.ts
  src/shared/components/ViewRouter/ViewRouter.tsx
  src/types/components.ts
Due: oxlint, biome, types

docs: Mark TournamentState consolidation as complete in TODO.md
  TODO.md
Due: none

refactor: consolidate supabase services and update tournament logic
  TODO.md
  api/submit-form.html
  biome.json
  config/.stylelintrc.json
  config/knip.json
  config/postcss.config.js
  config/tailwind.config.js
  config/tsconfig.json
  config/vitest.config.mjs
  index.html
  package.json
  public/assets/images/gallery.json
  public/manifest.json
  public/sw.js
  scripts/optimize-assets.js
  scripts/optimize-images-build.js
  scripts/optimize-sounds.js
  src/core/hooks/tournamentHooks.ts
  src/features/tournament/TournamentSetup.tsx
  src/features/tournament/tournamentUtils.ts
  src/shared/components/NameManagementView/NameManagementView.tsx
  src/shared/components/NameManagementView/modes/TournamentMode.tsx
  src/shared/components/ViewRouter/ViewRouter.tsx
  src/shared/services/supabase/client.ts
  src/shared/services/supabase/modules/cat-names-consolidated.ts
  src/shared/services/supabase/modules/general.ts
  src/types/store.ts
  vercel.json
  vite.config.ts
Due: oxlint, biome, types

refactor: successfully migrate tournament API and dry supabase client with clean linting
  TODO.md
  src/core/hooks/tournamentHooks.ts
  src/features/tournament/hooks/useTournamentState.test.tsx
  src/features/tournament/services/tournamentService.ts
  src/shared/components/NameManagementView/shared/useNameSelection.ts
  src/shared/components/TournamentButton/TournamentButton.tsx
  src/shared/services/supabase/client.ts
  src/shared/services/supabase/modules/general.ts
  test_output.txt
Due: oxlint, biome, types

Refactor Supabase services, consolidate utilities, and DRY store slices (lint fixed)
  src/core/hooks/tournamentHooks.ts
  src/core/store/slices/errorSlice.ts
  src/core/store/slices/siteSettingsSlice.ts
  src/core/store/slices/tournamentSlice.ts
  src/core/store/slices/uiSlice.ts
  src/core/store/slices/userSlice.ts
  src/core/store/utils.ts
  src/features/analytics/services/analyticsService.ts
  src/features/auth/services/adminService.ts
  src/features/gallery/services/imageService.ts
  src/features/names/services/nameService.ts
  src/features/profile/hooks/useProfile.ts
  src/features/tournament/components/SwipeableCards.tsx
  src/features/tournament/components/TournamentSidebar/PhotoComponents.tsx
  src/features/tournament/services/tournamentService.ts
  src/features/tournament/tournamentUtils.ts
  src/shared/services/supabase/modules/general.ts
  src/shared/services/supabase/modules/siteSettingsService.ts
  src/shared/services/supabase/types.ts
  src/shared/utils/names.ts
  src/types/components.ts
  test_output.txt
Due: oxlint, biome, types

Final cleanup: Fix lint errors and complete Type Safety Audit
  TODO.md
  src/features/analytics/services/analyticsService.ts
  src/features/names/services/nameService.ts
  src/features/tournament/hooks/useTournamentSetupHooks.ts
  src/shared/components/NameManagementView/nameManagementCore.tsx
  src/shared/services/supabase/modules/siteSettingsService.ts
Due: oxlint, biome, types

Consolidate documentation and move TODO.md to ROADMAP.md
  TODO.md
  docs/ARCHITECTURE.md
  docs/ROADMAP.md
Due: none

Migrate specs/rules to docs/ and skip image optimization in build
  .dev/README.md
  .dev/rules/clean-code.mdc
  .dev/rules/react-vite.mdc
  docs/DEVELOPMENT.md
  docs/specs/navigation-consolidation/design.md
  docs/specs/navigation-consolidation/requirements.md
  docs/specs/navigation-consolidation/tasks.md
  docs/specs/ui-ux-consolidation/design.md
  docs/specs/ui-ux-consolidation/requirements.md
  docs/specs/ui-ux-consolidation/tasks.md
  package.json
Due: none

Refactor: remove redundant code, scripts, and standardize types
  ASSET_OPTIMIZATION.md
  jules-12667715.patch
  jules-12961533.patch
  oxlint_report.txt
  package.json
  scripts/enforce-limits.js
  scripts/optimize-assets.js
  scripts/optimize-images-build.js
  scripts/optimize-sounds.js
  scripts/workflow.sh
  src/App.tsx
  src/features/tournament/Dashboard.tsx
  src/features/tournament/Tournament.tsx
  src/features/tournament/TournamentSetup.tsx
  src/features/tournament/components/PersonalResults.tsx
  src/features/tournament/components/TournamentMatch/TournamentMatch.tsx
  src/shared/components/Error/Error.tsx
  src/shared/components/Error/index.ts
  src/shared/components/Loading/Loading.tsx
  src/shared/components/NameManagementView/NameManagementView.tsx
Due: oxlint, biome, types

chore: Final cleanup and docs update
  README.md
Due: none

refactor: flatten component directories and consolidate shared components
  docs/ARCHITECTURE.md
  src/App.tsx
  src/features/analytics/components/AnalysisDashboard.tsx
  src/features/analytics/components/AnalysisPanel.tsx
  src/features/analytics/components/AnalysisTable.tsx
  src/features/tournament/components/PersonalResults.tsx
  src/shared/components/AppNavbar/AppNavbar.module.css
  src/shared/components/AppNavbar/AppNavbar.tsx
  src/shared/components/AppNavbar/MobileMenu.tsx
  src/shared/components/AppNavbar/NavbarActions.tsx
  src/shared/components/AppNavbar/NavbarBrand.tsx
  src/shared/components/AppNavbar/NavbarIcons.tsx
  src/shared/components/AppNavbar/NavbarLink.tsx
  src/shared/components/AppNavbar/NavbarToggles.tsx
  src/shared/components/AppNavbar/NavbarUI.tsx
  src/shared/components/Charts/Charts.tsx
  src/shared/components/CollapsibleHeader.css
  src/shared/components/CollapsibleHeader.tsx
  src/shared/components/EmptyState.module.css
  src/shared/components/EmptyState.tsx
  src/shared/components/Loading.module.css
  src/shared/components/Loading.tsx
  src/shared/components/Loading/index.ts
  src/shared/components/NameGrid/NameGrid.tsx
  src/shared/components/Navigation/BottomNav.css
  src/shared/components/Navigation/BottomNav.tsx
  src/shared/components/OfflineIndicator.module.css
  src/shared/components/OfflineIndicator.tsx
  src/shared/components/OfflineIndicator/index.ts
  src/shared/components/PerformanceBadge.css
  src/shared/components/PerformanceBadge.tsx
  src/shared/components/TournamentButton.tsx
  src/shared/components/TournamentToolbar/TournamentToolbar.tsx
  src/shared/components/TrendIndicator.css
  src/shared/navigation/config.ts
  src/shared/styles/reset.css
  vite.config.ts
Due: oxlint, biome, types

refactor: cleanup codebase, reorganize tournament feature, and add lazy loading
  src/App.tsx
  src/core/hooks/tournamentHooks.ts
  src/features/tournament/Tournament.tsx
  src/features/tournament/components/Lightbox.tsx
  src/features/tournament/components/PersonalResults.tsx
  src/features/tournament/components/RankingAdjustment.css
  src/features/tournament/components/RankingAdjustment.tsx
  src/features/tournament/components/SwipeableCards.tsx
  src/features/tournament/components/TournamentControls.tsx
  src/features/tournament/components/TournamentMatch/TournamentMatch.tsx
  src/features/tournament/components/TournamentSetup.tsx
  src/features/tournament/components/TournamentSidebar/PhotoComponents.tsx
  src/features/tournament/hooks/useBracketTransformation.ts
  src/features/tournament/hooks/useImageGallery.ts
  src/features/tournament/utils/tournamentUtils.test.ts
  src/features/tournament/utils/tournamentUtils.ts
  src/shared/components/Loading.tsx
  src/shared/components/NameGrid/NameGrid.tsx
  src/shared/components/NameManagementView/shared/useNameData.ts
  src/shared/components/TournamentToolbar/TournamentToolbar.tsx
  src/shared/components/ViewRouter/ViewRouter.tsx
  src/shared/styles/reset.css
  src/shared/utils/index.ts
  vite.config.ts
Due: oxlint, biome, types

fix: enable .env file loading in vite config
  vite.config.ts
Due: oxlint, biome, types

refactor: consolidate Login component and remove debugLogging
  src/features/auth/Login.module.css
  src/features/tournament/Tournament.tsx
  src/features/tournament/components/Lightbox.tsx
  src/features/tournament/components/TournamentSetup.tsx
  src/features/tournament/components/TournamentSidebar/PhotoComponents.tsx
  src/features/tournament/styles/Setup.module.css
  src/features/tournament/utils/debugLogging.ts
Due: oxlint, biome, types

refactor: flatten directory structure and inline small components
  src/features/gallery/GalleryView.tsx
  src/features/tournament/Tournament.tsx
  src/features/tournament/components/KeyboardHelp.tsx
  src/features/tournament/components/PhotoComponents.tsx
  src/features/tournament/components/TournamentErrorState.tsx
  src/features/tournament/components/TournamentLoadingState.tsx
  src/features/tournament/components/TournamentSetup.tsx
  src/features/tournament/components/TournamentUI.tsx
Due: oxlint, biome, types

docs: update ARCHITECTURE and DEVELOPMENT with consolidation changes
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
Due: none

fix: resolve biome lint errors and formatting issues
  src/App.tsx
  src/features/tournament/components/TournamentSetup.tsx
  src/shared/components/NameManagementView/NameManagementView.tsx
  src/shared/components/NameManagementView/modes/TournamentMode.tsx
  src/shared/components/Navigation/BottomNav.css
  src/shared/components/Navigation/BottomNav.tsx
  src/shared/components/TournamentToolbar/TournamentToolbar.tsx
  src/shared/components/ViewRouter/ViewRouter.tsx
Due: oxlint, biome, types

3
  src/shared/components/BongoCat/BongoCat.module.css
  src/shared/components/BongoCat/BongoCat.tsx
  src/shared/components/BongoCat/index.ts
  src/shared/components/Loading.tsx
Due: oxlint, biome, types

1
  src/features/tournament/components/TournamentSetup.tsx
  src/features/tournament/hooks/useTournamentController.ts
  src/features/tournament/hooks/useTournamentSetupHooks.ts
  src/features/tournament/styles/Setup.module.css
  src/shared/components/Card/Card.module.css
  src/shared/components/Card/components/CardName.module.css
  src/shared/components/NameGrid/NameGrid.module.css
  src/shared/components/NameGrid/NameGrid.tsx
  src/shared/hooks/useGreeting.ts
  src/shared/hooks/useLightboxState.ts
  src/shared/styles/index.css
  src/shared/styles/layout.css
Due: oxlint, biome, types

1
  src/features/tournament/styles/Setup.module.css
Due: biome

Fix CSS Modules compose errors by replacing surfaceCard compositions with direct styles
  src/features/tournament/styles/Setup.module.css
Due: biome

Fix glass-light composition in AnalysisPanel.module.css
  src/features/analytics/components/AnalysisPanel.module.css
  src/features/analytics/components/ViewToggle.module.css
  src/shared/components/EmptyState.module.css
  src/shared/components/ErrorBoundary/ErrorBoundary.module.css
  src/shared/components/NameGrid/NameGrid.module.css
  src/shared/components/ValidatedInput/ValidatedInput.module.css
Due: biome

Create consolidated components-primitives.css for badges, indicators, and empty states
  src/shared/styles/components-primitives.css
Due: biome

Create form-controls.css for consolidated form input styles
  src/shared/styles/form-controls.css
Due: biome

completionId: cgen-72e1b51f30004e0f99ac09dd341f0aa4
  src/shared/styles/index.css
Due: biome

completionId: cgen-2030315bc6274373a818a84ebeb1b7aa
  src/shared/components/Navigation/SubNavigation.css
Due: biome

completionId: cgen-e6d52d24e4f24f80aac1e9e92646bd5a
  src/shared/components/PerformanceBadge.tsx
Due: oxlint, biome, types

completionId: cgen-3405b94931c44743985a14f4f2f9a464
  src/shared/components/OfflineIndicator.tsx
Due: oxlint, biome, types
