Repository guitarbeat/Naming-Nosferatu: changes, and which lefthook commands are due for each by the changed paths.
All: biome, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    architecture:
      run: pnpm run check:arch
    copy-artifacts:
      run: pnpm run check:copy-artifacts
    case-collisions:
      run: pnpm run check:case-collisions
    biome:
      glob: "*.{js,jsx,ts,tsx,css}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    types:
      glob: "*.{ts,tsx}"
      run: pnpm run lint:types

test: improve test coverage for SyncQueueService
  pnpm-lock.yaml
Due: none

test: improve test coverage for SyncQueueService
  package.json
  plan.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

test: add test coverage for useNamesCache hook
  pnpm-lock.yaml
Due: none

test: add unit tests for api client wrapper in apiClient.ts
  pnpm-lock.yaml
Due: none

perf: add database index on nameId foreign key in catNameRatings
  .npmrc
  pnpm-lock.yaml
Due: none

🔒 fix: mitigate IDOR and user enumeration on userId
  package.json
  patch_routes.py
  patch_routes2.py
  patch_routes3.py
  patch_routes_db_test.py
  patch_tests.py
  patch_validation.py
  server/routes.db.test.ts
  server/routes.ts
  server/validation.test.ts
  server/validation.ts
  update_routes.py
Due: biome, types

Fix security route test DB chain mock
  server/routes.security.test.ts
Due: biome, types

Patch transitive esbuild vulnerability in drizzle-kit chain
  package.json
  pnpm-lock.yaml
Due: none

Remove deprecated jest-dom stub types package
  package.json
  pnpm-lock.yaml
Due: none

test: fix routes.security mock configuration
  .npmrc
  server/routes.security.test.ts
Due: biome, types

1
  package.json
  pnpm-lock.yaml
  src/shared/components/layout/CatImage.tsx
Due: biome, types

chore: fix pnpm frozen lockfile conflict
  .npmrc
Due: none

Fix lint warnings in CatImage and appStore
  src/shared/components/layout/CatImage.tsx
  src/store/appStore.ts
Due: biome, types

Format diagnostic logs per Biome
  src/features/tournament/components/NameSelector.tsx
  src/services/authAdapter.ts
  src/services/supabase/api.ts
Due: biome, types

1
  src/features/tournament/components/NameSelector.tsx
Due: biome, types

Hide navbar label on mobile, show on tablet and up
  src/shared/components/layout/FloatingNavbar.tsx
Due: biome, types

Fix tooltip positioning for locked cat names off-screen
  src/features/tournament/Tournament.tsx
  src/features/tournament/components/NameSelector.tsx
  src/features/tournament/components/SwipeableCards.tsx
  src/features/tournament/hooks/useTournamentState.ts
Due: biome, types

Improve name selection usability and empty-state guidance
  src/app/App.test.tsx
  src/app/App.tsx
  src/features/tournament/components/NameSelector.tsx
Due: biome, types

Add reusable glass button variant and apply across key flows
  src/app/App.tsx
  src/features/tournament/components/NameSelector.tsx
  src/features/tournament/components/NameSuggestion.tsx
  src/features/tournament/components/ProfileSection.tsx
  src/shared/components/layout/Button.tsx
  src/shared/components/layout/FancyButton.css
  src/shared/components/layout/FluidNav.tsx
Due: biome, types

Update tooltip spacing
  src/features/tournament/components/NameSelector.tsx
  src/styles/components.css
Due: biome, types

Fix missing background colors
  src/index.css
Due: biome

Add engaging effects to tournaments
  src/shared/lib/sound.ts
Due: biome, types

Remove CSV export support
  src/features/tournament/Tournament.tsx
  src/features/tournament/components/NameSelector.tsx
  src/features/tournament/hooks/useTournamentState.ts
  src/services/tournament.test.ts
  src/services/tournament.ts
  src/shared/components/layout/FluidNav.tsx
  src/shared/types/index.ts
Due: biome, types

Add 1 file, update 2 files
  capacitor.config.ts
  package.json
  pnpm-lock.yaml
Due: biome, types

test: enhance elo rating tests using fast-check properties
  src/features/tournament/components/NameSuggestion.tsx
  src/services/tournament.test.ts
Due: biome, types

chore: fix formatting issues and remove coreservices
  src/features/tournament/components/NameSuggestion.tsx
  src/shared/hooks/index.ts
Due: biome, types

test: add comprehensive test coverage for useMasonryLayout hook
  src/hooks/useMasonryLayout.test.tsx
  src/hooks/useMasonryLayout.ts
Due: biome, types

test: enhance elo rating logic tests with fast-check
  pnpm-lock.yaml
Due: none

test: improve test coverage for EloRating logic
  src/services/tournament.test.ts
Due: biome, types

test: improve test coverage for EloRating logic (#727)
  src/services/tournament.test.ts
Due: biome, types

Adapt tokens to website style
  src/shared/components/layout/AppLayout.tsx
  src/styles/components.css
Due: biome, types

ci: add github actions security scanning and root contributing guide
  .github/workflows/security.yml
  CONTRIBUTING.md
Due: none

ci: fix pnpm-lock.yaml to resolve CI error
  pnpm-lock.yaml
Due: none
