Repository guitarbeat/Naming-Nosferatu: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, biome, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    oxlint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm dlx oxlint {staged_files}
    biome:
      glob: "*.{js,jsx,ts,tsx,css}"
      run: pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    types:
      glob: "*.{ts,tsx}"
      run: pnpm run lint:types

completionId: cgen-33abd45096214cac937e792ac7dad23e
  src/shared/components/OfflineIndicator.tsx
Due: oxlint, biome, types

completionId: cgen-ee7688cfc24f41bc9b865cf2ce69962b
  src/shared/components/EmptyState.tsx
Due: oxlint, biome, types

completionId: cgen-2e8d748337884823b73228d6a566ecf4
  src/shared/components/EmptyState.tsx
Due: oxlint, biome, types

completionId: cgen-072707a3f1b248d39399a0f7346dc675
  src/shared/components/ValidatedInput/ValidatedInput.tsx
Due: oxlint, biome, types

Update ValidatedInput to use global form-controls styles
  src/shared/components/ValidatedInput/ValidatedInput.tsx
Due: oxlint, biome, types

Consolidate small utility functions (array, cache, date, logger)
  src/shared/utils/basic.ts
Due: oxlint, biome, types

completionId: cgen-582c79b2a24f41f7af23c1642fce5df3
  src/shared/utils/index.ts
Due: oxlint, biome, types

Create tournament hooks index for consolidated imports
  src/features/tournament/hooks/index.ts
Due: oxlint, biome, types

Document the consolidation changes made to reduce file fragmentation
  docs/CONSOLIDATION_SUMMARY.md
Due: none

Consolidate styles, utilities, and tournament hooks (#409)
  docs/CONSOLIDATION_SUMMARY.md
  src/features/analytics/components/AnalysisPanel.module.css
  src/features/analytics/components/ViewToggle.module.css
  src/features/tournament/hooks/index.ts
  src/features/tournament/styles/Setup.module.css
  src/shared/components/EmptyState.module.css
  src/shared/components/EmptyState.tsx
  src/shared/components/ErrorBoundary/ErrorBoundary.module.css
  src/shared/components/NameGrid/NameGrid.module.css
  src/shared/components/Navigation/SubNavigation.css
  src/shared/components/OfflineIndicator.tsx
  src/shared/components/PerformanceBadge.tsx
  src/shared/components/ValidatedInput/ValidatedInput.module.css
  src/shared/components/ValidatedInput/ValidatedInput.tsx
  src/shared/styles/components-primitives.css
  src/shared/styles/form-controls.css
  src/shared/styles/index.css
  src/shared/utils/basic.ts
  src/shared/utils/index.ts
Due: oxlint, biome, types

refactor: CSS token compliance and consolidation
  src/features/analytics/components/AnalysisInsights.module.css
  src/features/analytics/components/AnalysisTable.module.css
  src/features/tournament/components/PersonalResults.module.css
  src/features/tournament/styles/Error.module.css
  src/features/tournament/styles/Tournament.module.css
  src/shared/components/BongoCat/BongoCat.module.css
  src/shared/components/Card/Card.module.css
  src/shared/components/PerformanceBadge.css
  src/shared/components/TrendIndicator.css
Due: biome

refactor: Flatten Card directory and fix hook exports
  .smart-coding-cache/embeddings.db
  .smart-coding-cache/embeddings.db-shm
  .smart-coding-cache/embeddings.db-wal
  src/features/tournament/hooks/index.ts
  src/shared/components/Card/CardName.module.css
  src/shared/components/Card/CardName.tsx
  src/shared/components/NameGrid/NameGrid.tsx
Due: oxlint, biome, types

refactor: Flatten TournamentMatch directory structure
  src/features/tournament/Tournament.tsx
  src/features/tournament/components/FerrofluidMatch.module.css
  src/features/tournament/components/TournamentMatch.tsx
Due: oxlint, biome, types

feat(ux): replace modal tutorial with inline tooltip
  src/features/tournament/components/FirstMatchTutorial.module.css
  src/features/tournament/components/FirstMatchTutorial.tsx
Due: oxlint, biome, types

fix: add missing useEffect dependency for handleDismiss
  src/features/tournament/components/FirstMatchTutorial.tsx
Due: oxlint, biome, types

refactor: consolidate routing architecture for SPA pattern
  src/core/config/routeConfig.ts
  src/core/hooks/useRouting.ts
  src/shared/components/ViewRouter/ViewRouter.tsx
Due: oxlint, biome, types

refactor: extract AppLayout and simplify App.tsx
  src/App.tsx
  src/shared/layouts/AppLayout.tsx
Due: oxlint, biome, types

refactor: convert KeyboardHelp from inline Tailwind to CSS Module
  src/features/tournament/components/KeyboardHelp.module.css
  src/features/tournament/components/KeyboardHelp.tsx
Due: oxlint, biome, types

completionId: cgen-e4b72d8fcb1141b080fe7f6f69ff3b5d
  src/core/hooks/useUserSession.ts
Due: oxlint, biome, types

Code Quality Report - Issues Found and Fixed
  docs/CODE_QUALITY_REPORT.md
Due: none

completionId: cgen-e536bb991d124321931ee3d735ee92ad
  package.json
Due: none

completionId: cgen-58829820a1f845e595490f7d576a525e
  package.json
Due: none

completionId: cgen-8ecbd161f52543e5b52f847474a5a01e
  package.json
Due: none

completionId: cgen-dde55848fa0d4218bd9bd9656700e071
  docs/DEVELOPMENT.md
Due: none

completionId: cgen-57914bd246a64375a9fe0e67fe3a4311
  docs/DEVELOPMENT.md
Due: none

completionId: cgen-e8972d8d429645b081d28736471d859f
  package.json
Due: none

completionId: cgen-4e64612f893b4d8e9c7c8680dde26489
  docs/CODE_QUALITY_REPORT.md
Due: none

Fix unhandled promise rejection and remove unused deps (#414)
  docs/CODE_QUALITY_REPORT.md
  docs/DEVELOPMENT.md
  package.json
  src/core/hooks/useUserSession.ts
Due: oxlint, biome, types

123
  src/shared/components/NameGrid/NameGrid.module.css
  src/shared/components/NameGrid/NameGrid.tsx
Due: oxlint, biome, types

Refactor navigation: consolidate Explore view, hide results when incomplete, and streamline labels
  .gitignore
  .smart-coding-cache/embeddings.db
  .smart-coding-cache/embeddings.db-shm
  .smart-coding-cache/embeddings.db-wal
  docs/ARCHITECTURE.md
  src/core/config/routeConfig.ts
  src/core/hooks/useRouting.ts
  src/features/explore/Explore.module.css
  src/features/explore/Explore.tsx
  src/shared/components/Card/Card.module.css
  src/shared/components/NameGrid/NameGrid.tsx
  src/shared/components/Navigation/BottomNav.tsx
  src/shared/components/ViewRouter/ViewRouter.tsx
  src/shared/hooks/useMasonryLayout.ts
  src/shared/navigation/config.ts
  src/shared/styles/themes.css
Due: oxlint, biome, types

docs: update architecture and cleanup cache
  docs/ARCHITECTURE.md
Due: none

docs: finalize architecture updates and fix sub-navigation sync
  src/features/explore/Explore.tsx
  src/shared/components/ViewRouter/ViewRouter.tsx
Due: oxlint, biome, types

refactor(ui): consolidate glass composition patterns and fix CSS import ordering
  docs/UI_UX.md
  src/core/hooks/useRouting.ts
  src/features/tournament/Dashboard.module.css
  src/features/tournament/components/FirstMatchTutorial.module.css
  src/shared/styles/colors.css
  src/shared/styles/design-tokens.css
  src/shared/styles/index.css
Due: oxlint, biome, types

feat: add Explore feature and update navigation/routing
  src/features/explore/Explore.tsx
  src/shared/components/Bracket.module.css
  src/shared/components/Card/Card.module.css
  src/shared/components/Loading.module.css
Due: oxlint, biome, types

refactor: consolidate SPA routing, simplify App layout, and fix UI regressions
  src/features/tournament/components/PersonalResults.module.css
  src/shared/components/Navigation/DesktopNav.module.css
  src/shared/components/Navigation/DesktopNav.tsx
  src/shared/components/Navigation/KeyboardShortcutsOverlay.module.css
  src/shared/components/Navigation/KeyboardShortcutsOverlay.tsx
  src/shared/components/TournamentToolbar/TournamentToolbar.css
  src/shared/layouts/AppLayout.tsx
  src/shared/styles/navigation.css
Due: oxlint, biome, types

Add tournament component tests and mobile navigation improvements
  src/features/analytics/components/AnalysisTable.module.css
  src/features/tournament/components/TournamentMatch.test.tsx
  src/features/tournament/components/TournamentSetup.test.tsx
  src/features/tournament/components/TournamentUI.test.tsx
  src/features/tournament/styles/PhotoGallery.module.css
  src/shared/components/Navigation/BottomNav.tsx
  src/shared/components/Navigation/MobileMenu.module.css
  src/shared/components/Navigation/MobileMenu.tsx
  src/shared/layouts/AppLayout.tsx
Due: oxlint, biome, types

Fix linting issues and code formatting
  src/features/analytics/components/AnalysisTable.module.css
  src/features/tournament/components/TournamentMatch.test.tsx
  src/features/tournament/components/TournamentSetup.test.tsx
  src/features/tournament/components/TournamentUI.test.tsx
  src/shared/components/Navigation/MobileMenu.module.css
  src/shared/components/Navigation/MobileMenu.tsx
Due: oxlint, biome, types

Optimize bundle size with code splitting and manual chunks
  src/features/tournament/components/TournamentMatch.test.tsx
  src/features/tournament/components/TournamentSetup.test.tsx
  src/features/tournament/components/TournamentUI.test.tsx
  vite.config.ts
Due: oxlint, biome, types

Fix TypeScript compilation errors in test mocks
  src/features/tournament/components/TournamentMatch.test.tsx
  src/features/tournament/components/TournamentSetup.test.tsx
Due: oxlint, biome, types
