Repository guitarbeat/Naming-Nosferatu: changes, and which lefthook commands are due for each by the changed paths.
All: biome, types

biome:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

types:
  run: pnpm run lint:types

fix: resolve 8 medium-severity bugs (unbounded history, stale vote, locked names, static IV, empty email, async cancellation, storage flush)
  src/features/tournament/components/NameSelector.tsx
  src/features/tournament/hooks/useTournamentState.ts
  src/shared/hooks/useAsyncData.ts
  src/shared/hooks/useLocalStorage.ts
  src/shared/lib/storage.ts
  src/shared/services/supabase/authAdapter.ts
  src/store/slices/errorSlice.ts
Due: biome, types

fix: resolve 6 low-severity bugs (leaderboard refresh, stale closure, cache eviction, image cache growth, error ID uniqueness, completion guard)
  src/features/dashboard/components/analytics/hooks/useDashboardData.ts
  src/features/tournament/Tournament.tsx
  src/features/tournament/utils/tournamentLogic.ts
  src/features/tournament/utils/useTimedState.ts
  src/shared/lib/media.ts
  src/shared/services/errorManager.ts
Due: biome, types

fix: address review issues (dead code, silent vote drop, strict mode, hash collision)
  src/features/tournament/hooks/tournamentPersistence.ts
  src/features/tournament/hooks/useTournamentRealtime.ts
  src/features/tournament/hooks/useTournamentState.ts
  src/shared/hooks/useLocalStorage.ts
Due: biome, types

fix: resolve 22 bugs from comprehensive codebase audit (#1227)
  .agents/tasks/task-fix-22-bugs/features/FEAT-001.json
  src/features/dashboard/components/analytics/RankingAdjustment.tsx
  src/features/dashboard/components/analytics/hooks/useDashboardData.ts
  src/features/tournament/Tournament.tsx
  src/features/tournament/components/NameSelector.tsx
  src/features/tournament/hooks/tournamentPersistence.ts
  src/features/tournament/hooks/useTournamentRealtime.ts
  src/features/tournament/hooks/useTournamentState.ts
  src/features/tournament/utils/tournamentLogic.ts
  src/features/tournament/utils/useTimedState.ts
  src/shared/api/names/api.ts
  src/shared/hooks/useAsyncData.ts
  src/shared/hooks/useLocalStorage.ts
  src/shared/lib/media.ts
  src/shared/lib/storage.ts
  src/shared/services/errorManager.ts
  src/shared/services/supabase/authAdapter.ts
  src/shared/services/supabase/runtime.ts
  src/store/slices/errorSlice.ts
Due: biome, types

fix: resolve 10 bugs from second-pass audit
  .agents/tasks/task-fix-10-bugs-pass-2/features/FEAT-001.json
  src/features/dashboard/components/analytics/PersonalResults.tsx
  src/features/tournament/Tournament.tsx
  src/features/tournament/components/TournamentHeader.tsx
  src/features/tournament/hooks/useTournamentState.ts
  src/features/tournament/utils/matchHelpers.ts
  src/shared/components/layout/CatImage.tsx
  src/shared/components/layout/Lightbox.tsx
  src/shared/lib/storage.ts
  src/shared/services/adapters/sentryAdapter.test.ts
  src/shared/services/adapters/sentryAdapter.ts
Due: biome, types

chore: mark FEAT-001 as completed with findings
  .agents/tasks/task-fix-10-bugs-pass-2/features/FEAT-001.json
Due: none

fix: stabilize Lightbox keyboard handler and harden sentryAdapter test
  .agents/tasks/task-fix-10-bugs-pass-2/features/FEAT-002.json
  src/shared/components/layout/Lightbox.tsx
  src/shared/services/adapters/sentryAdapter.test.ts
Due: biome, types

chore: mark FEAT-002 as completed with findings
  .agents/tasks/task-fix-10-bugs-pass-2/features/FEAT-002.json
  .agents/tasks/task-fix-10-bugs-pass-2/task.json
Due: none

fix: resolve 10 bugs from second-pass codebase audit (#1228)
  .agents/tasks/task-fix-10-bugs-pass-2/features/FEAT-001.json
  .agents/tasks/task-fix-10-bugs-pass-2/features/FEAT-002.json
  .agents/tasks/task-fix-10-bugs-pass-2/task.json
  src/features/dashboard/components/analytics/PersonalResults.tsx
  src/features/tournament/Tournament.tsx
  src/features/tournament/components/TournamentHeader.tsx
  src/features/tournament/hooks/useTournamentState.ts
  src/features/tournament/utils/matchHelpers.ts
  src/shared/components/layout/CatImage.tsx
  src/shared/components/layout/Lightbox.tsx
  src/shared/lib/storage.ts
  src/shared/services/adapters/sentryAdapter.test.ts
  src/shared/services/adapters/sentryAdapter.ts
Due: biome, types

fix: resolve 6 bugs from third-pass codebase audit
  src/features/dashboard/components/analytics/PersonalResults.tsx
  src/features/tournament/hooks/tournamentPersistence.test.ts
  src/features/tournament/hooks/tournamentReducer.ts
  src/features/tournament/hooks/useTournamentRealtime.ts
  src/shared/components/layout/Modal.tsx
  src/shared/hooks/useLocalStorage.ts
  src/shared/lib/storage.ts
Due: biome, types

fix: resolve 4 follow-up issues from third-pass review
  .agents/tasks/task-third-pass-bug-audit/features/FEAT-002.json
  src/shared/components/layout/Modal.tsx
  src/shared/lib/storage.ts
Due: biome, types

fix: resolve 10 issues from third-pass codebase audit (#1229)
  .agents/tasks/task-third-pass-bug-audit/features/FEAT-002.json
  src/features/dashboard/components/analytics/PersonalResults.tsx
  src/features/tournament/hooks/tournamentPersistence.test.ts
  src/features/tournament/hooks/tournamentReducer.ts
  src/features/tournament/hooks/useTournamentRealtime.ts
  src/shared/components/layout/Modal.tsx
  src/shared/hooks/useLocalStorage.ts
  src/shared/lib/storage.ts
Due: biome, types

fix: resolve 9 bugs from fourth-pass codebase audit
  public/manifest.json
  public/sw.js
  src/features/dashboard/components/analytics/PersonalResults.tsx
  src/features/dashboard/components/analytics/RankingAdjustment.tsx
  src/features/dashboard/components/analytics/hooks/useDashboardData.ts
  src/features/tournament/Tournament.tsx
  src/features/tournament/modes/TournamentFlow.tsx
  src/shared/lib/sound.ts
  src/shared/services/supabase/authAdapter.ts
Due: biome, types

perf(analytics): optimize win-loss chart data preparation
  .jules/bolt.md
  src/features/dashboard/components/analytics/components/WinLossChart.tsx
Due: biome, types

chore(lint): fix biome check warnings and empty blocks
  src/features/dashboard/components/admin/components/AdminNamesTab.tsx
  src/features/dashboard/components/analytics/components/RatingDistributionChart.tsx
  src/features/dashboard/components/analytics/components/WinLossChart.tsx
  src/features/tournament/hooks/useTournamentRealtime.ts
  src/features/tournament/hooks/useTournamentState.ts
  src/shared/components/ui/SearchFilterBar.tsx
Due: biome, types

fix: resolve 9 bugs from fourth-pass codebase audit (#1230)
  public/manifest.json
  public/sw.js
  src/features/dashboard/components/analytics/PersonalResults.tsx
  src/features/dashboard/components/analytics/RankingAdjustment.tsx
  src/features/dashboard/components/analytics/hooks/useDashboardData.ts
  src/features/tournament/Tournament.tsx
  src/features/tournament/modes/TournamentFlow.tsx
  src/shared/lib/sound.ts
  src/shared/services/supabase/authAdapter.ts
Due: biome, types

chore: mark FEAT-002 as completed
  .agents/tasks/task-performance-optimizations/features/FEAT-002.json
Due: none

chore: mark FEAT-001 as completed
  .agents/tasks/task-performance-optimizations/features/FEAT-001.json
Due: none

perf: replace broad useAppStore() calls with granular selectors
  .agents/tasks/task-performance-optimizations/features/FEAT-001.json
  src/app/routes/HomeRoute.test.tsx
  src/app/routes/HomeRoute.tsx
  src/features/dashboard/components/admin/AdminDashboard.tsx
  src/features/tournament/modes/TournamentFlow.test.tsx
  src/features/tournament/modes/TournamentFlow.tsx
  src/shared/components/layout/AppLayout.tsx
  src/shared/components/layout/FloatingNavbar.test.tsx
  src/shared/components/layout/FloatingNavbar.tsx
  src/shared/components/profile/ProfileInner.tsx
Due: biome, types

perf: add Vite bundle splitting for vendor libraries
  .agents/tasks/task-performance-optimizations/features/FEAT-002.json
  config/vite.config.ts
Due: biome, types

perf: wrap frequently rendered components in React.memo
  src/app/routes/HomeRoute.tsx
  src/features/dashboard/components/admin/components/AdminNamesTab.tsx
  src/features/dashboard/components/analytics/Dashboard.tsx
  src/features/dashboard/components/analytics/PersonalResults.tsx
  src/features/dashboard/components/analytics/RankingAdjustment.tsx
  src/features/dashboard/components/analytics/components/LeaderboardPanel.tsx
  src/features/dashboard/components/analytics/components/RatingDistributionChart.tsx
  src/features/dashboard/components/analytics/hooks/useDashboardData.ts
  src/features/tournament/components/NameSelector.tsx
  src/shared/components/layout/FloatingNavbar.tsx
Due: biome, types

perf: stabilize quickStats with useMemo and simplify heroui chunk matcher
  config/vite.config.ts
  src/features/dashboard/components/analytics/Dashboard.tsx
Due: biome, types

fix: add missing Tailwind CSS 4 design tokens and animation utilities
  .agents/tasks/task-fix-styling-bugs/context.json
  .agents/tasks/task-fix-styling-bugs/features/FEAT-001.json
  .agents/tasks/task-fix-styling-bugs/features/FEAT-002.json
  .agents/tasks/task-fix-styling-bugs/task.json
  config/tailwind.config.js
  src/styles/motion.css
  src/styles/tokens.css
Due: biome

chore: mark FEAT-001 as completed
  .agents/tasks/task-fix-styling-bugs/features/FEAT-001.json
Due: none

chore: finalize task with review approval
  .agents/tasks/task-fix-styling-bugs/2026-08-05-070522-review.md
  .agents/tasks/task-fix-styling-bugs/task.json
Due: none

chore: mark FEAT-002 as completed
  .agents/tasks/task-fix-styling-bugs/features/FEAT-002.json
Due: none

fix: resolve z-index stacking conflicts and horizontal overflow
  .agents/tasks/task-fix-styling-bugs/features/FEAT-002.json
  src/features/tournament/components/TournamentComplete.tsx
  src/shared/components/layout/Lightbox.tsx
  src/shared/components/layout/Modal.tsx
Due: biome, types

chore: update task state with verification results
  .agents/tasks/task-fix-styling-bugs/task.json
Due: none

fix: resolve CSS styling bugs (z-index, tokens, overflow) (#1232)
  .agents/tasks/task-fix-styling-bugs/2026-08-05-070522-review.md
  .agents/tasks/task-fix-styling-bugs/context.json
  .agents/tasks/task-fix-styling-bugs/features/FEAT-001.json
  .agents/tasks/task-fix-styling-bugs/features/FEAT-002.json
  .agents/tasks/task-fix-styling-bugs/task.json
  .agents/tasks/task-performance-optimizations/features/FEAT-001.json
  .agents/tasks/task-performance-optimizations/features/FEAT-002.json
  config/tailwind.config.js
  config/vite.config.ts
  src/app/routes/HomeRoute.test.tsx
  src/app/routes/HomeRoute.tsx
  src/features/dashboard/components/admin/AdminDashboard.tsx
  src/features/dashboard/components/admin/components/AdminNamesTab.tsx
  src/features/dashboard/components/analytics/Dashboard.tsx
  src/features/dashboard/components/analytics/PersonalResults.tsx
  src/features/dashboard/components/analytics/RankingAdjustment.tsx
  src/features/dashboard/components/analytics/components/LeaderboardPanel.tsx
  src/features/dashboard/components/analytics/components/RatingDistributionChart.tsx
  src/features/dashboard/components/analytics/hooks/useDashboardData.ts
  src/features/tournament/components/NameSelector.tsx
  src/features/tournament/components/TournamentComplete.tsx
  src/features/tournament/modes/TournamentFlow.test.tsx
  src/features/tournament/modes/TournamentFlow.tsx
  src/shared/components/layout/AppLayout.tsx
  src/shared/components/layout/FloatingNavbar.test.tsx
  src/shared/components/layout/FloatingNavbar.tsx
  src/shared/components/layout/Lightbox.tsx
  src/shared/components/layout/Modal.tsx
  src/shared/components/profile/ProfileInner.tsx
  src/styles/motion.css
  src/styles/tokens.css
Due: biome, types

⚡ Bolt: optimize WinLossChart data preparation (#1233)
  .jules/bolt.md
  src/features/dashboard/components/analytics/components/WinLossChart.tsx
  src/features/tournament/hooks/useTournamentRealtime.ts
  src/features/tournament/hooks/useTournamentState.ts
  src/shared/components/ui/SearchFilterBar.tsx
Due: biome, types

fix(a11y): add reduced motion support, fix color contrast, improve touch targets
  .agents/tasks/task-accessibility-ux-improvements/context.json
  .agents/tasks/task-accessibility-ux-improvements/features/FEAT-001.json
  .agents/tasks/task-accessibility-ux-improvements/features/FEAT-002.json
  .agents/tasks/task-accessibility-ux-improvements/task.json
  src/app/routes/components/HomeSections.tsx
  src/features/dashboard/components/analytics/Dashboard.tsx
  src/features/tournament/Tournament.tsx
  src/features/tournament/components/MatchSideCard.tsx
  src/features/tournament/components/NameSelector.tsx
  src/features/tournament/components/TournamentComplete.tsx
  src/features/tournament/components/TournamentHeader.tsx
  src/features/tournament/modes/TournamentFlow.tsx
  src/shared/components/ui/SearchFilterBar.tsx
Due: biome, types

chore: mark FEAT-001 as completed
  .agents/tasks/task-accessibility-ux-improvements/features/FEAT-001.json
Due: none

fix(a11y): add ARIA live regions, focus management, and semantic structure
  .agents/tasks/task-accessibility-ux-improvements/features/FEAT-002.json
  src/app/routes/HomeRoute.tsx
  src/features/tournament/Tournament.tsx
  src/features/tournament/components/NameSelector.tsx
  src/features/tournament/components/NameSuggestion.tsx
  src/features/tournament/components/TournamentHeader.tsx
  src/features/tournament/modes/TournamentFlow.tsx
  src/shared/components/layout/Lightbox.tsx
  src/shared/components/layout/Section.tsx
Due: biome, types

chore: mark FEAT-002 as completed
  .agents/tasks/task-accessibility-ux-improvements/features/FEAT-002.json
Due: none

chore: finalize task with review approval
  .agents/tasks/task-accessibility-ux-improvements/2025-08-05-150500-review.md
  .agents/tasks/task-accessibility-ux-improvements/task.json
Due: none

Add error service directory from merged test branches
  src/features/tournament/components/NameSelector.tsx
  src/shared/services/error/errorClassification.ts
  src/shared/services/error/errorMessages.ts
Due: biome, types

Include remaining merged test branch files
  src/features/tournament/hooks/useStreakCalculator.ts
  src/features/tournament/hooks/useTournamentKeyboard.ts
  src/shared/components/layout/Lightbox.tsx
  src/shared/components/layout/Modal.tsx
  src/shared/services/errorManager.ts
  src/styles/tokens.css
Due: biome, types

Include outstanding changes from merged branches
  src/features/tournament/Tournament.tsx
  src/features/tournament/components/NameSelector.tsx
  src/features/tournament/components/TournamentComplete.tsx
  src/features/tournament/modes/TournamentFlow.tsx
  src/features/tournament/utils/matchHelpers.ts
  src/features/tournament/utils/tournamentLogic.ts
  src/shared/components/layout/Feedback/ErrorBoundary.tsx
  src/shared/components/layout/Feedback/Loading.tsx
  src/shared/components/layout/FormPrimitives.tsx
  src/shared/lib/names/nameFilters.test.ts
  src/shared/lib/performance.ts
  src/shared/services/error/errorMessages.ts
  src/shared/services/errorManager.ts
  src/shared/services/telemetrySeam.test.ts
  src/store/slices/errorSlice.test.ts
  src/styles/tokens.css
Due: biome, types

refactor: improve type safety for dashboard metrics, tournament IDs, and authentication state while fixing minor UI bugs
  src/app/providers/authContext.tsx
  src/features/dashboard/components/admin/AdminDashboard.tsx
  src/features/dashboard/components/analytics/Dashboard.tsx
  src/features/tournament/components/NameSelector.tsx
  src/features/tournament/hooks/useTournamentState.ts
  src/features/tournament/utils/tournamentLogic.ts
  src/shared/api/names/api.ts
  src/shared/components/layout/Button.tsx
Due: biome, types

Path conditions:
  biome: any of: *.{js,jsx,ts,tsx,css}
  types: any of: *.{ts,tsx}
