Repository guitarbeat/Naming-Nosferatu: changes, and which lefthook commands are due for each by the changed paths.
All: biome, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    architecture:
      run: pnpm run check:arch
    copy-artifacts:
      run: pnpm run check:copy-artifacts
    case-collisions:
      run: pnpm run check:case-collisions
    biome:
      glob: "*.{js,jsx,ts,tsx,css}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    types:
      glob: "*.{ts,tsx}"
      run: pnpm run lint:types

fix: remove shared demo password using anonymous auth
  commit_message.txt
Due: none

🎨 Palette: Add loading state to engagement refresh button
  src/features/dashboard/components/analytics/EngagementPanel.tsx
Due: biome, types

Refactor TournamentContent to extract long logic into custom hooks
  src/features/tournament/Tournament.tsx
  src/features/tournament/hooks/useTournamentCompletion.ts
  src/features/tournament/hooks/useTournamentKeyboard.test.ts
  src/features/tournament/hooks/useTournamentKeyboard.ts
  src/features/tournament/hooks/useTournamentViewData.ts
  src/features/tournament/hooks/useVoteHandler.ts
Due: biome, types

fix: replace insecure Math.random() in shuffleArray with crypto.getRandomValues
  .github/workflows/pr-quality.yml
Due: none

Fix biome formatting and linting errors for tournament refactor
  plan_script.sh
  src/features/tournament/Tournament.tsx
  src/features/tournament/components/TournamentAnnouncements.tsx
  src/features/tournament/components/announcements/OpeningBracketReveal.tsx
  src/features/tournament/components/announcements/RoundAnnouncement.tsx
  src/features/tournament/components/announcements/StreakBurstAnnouncement.tsx
  src/features/tournament/components/announcements/VoteAnnouncement.tsx
  submit.cjs
Due: biome, types

🎨 Palette: add clear button to search input
  .Jules/palette.md
  src/shared/components/ui/SearchFilterBar.tsx
Due: biome, types

Fix tests and TypeScript compilation errors in keyboard hooks
  src/features/tournament/hooks/useTournamentKeyboard.test.ts
  src/features/tournament/hooks/useTournamentKeyboard.ts
Due: biome, types

Fix tests and Tournament component usage of useTournamentKeyboard
  src/features/tournament/Tournament.tsx
Due: biome, types

refactor: extract home sections to HomeSections.tsx
  .Jules/palette.md
  fix.cjs
  fix.js
  src/app/routes/HomeRoute.test.tsx
  src/app/routes/HomeRoute.tsx
  src/app/routes/components/HomeSections.tsx
Due: biome, types

Optimize array filters in nameFilters.ts using a single-pass loop
  src/shared/lib/names/nameFilters.ts
  test_loop_overhead.ts
Due: biome, types

⚡ Bolt: Optimize TopNamesChart data processing loop
  .jules/bolt.md
  src/features/dashboard/components/analytics/components/TopNamesChart.tsx
Due: biome, types

Add clear button to search input and fix icon focus scope
  .Jules/palette.md
  src/shared/components/ui/SearchFilterBar.tsx
Due: biome, types

stuff
  .replit.new
  package.json
Due: none

Update Replit configuration
  .replit
Due: none

idk fix
  .agents/memory/MEMORY.md
  .agents/memory/package-firewall-compatibility.md
  .agents/memory/replit-static-publishing.md
  .replit
  package.json
  pnpm-lock.yaml
  replit.md
Due: none

⚡ Bolt: Optimize applyEloMatchUpdate by removing array method chains
  .jules/bolt.md
  src/shared/lib/elo.ts
Due: biome, types

⚡ Bolt: Optimize applyEloMatchUpdate by removing array method chains
  .github/workflows/ci.yml
  .jules/bolt.md
Due: none

⚡ Bolt: Optimize applyEloMatchUpdate by removing array method chains
  .github/workflows/ci.yml
  .jules/bolt.md
  config/knip.json
  src/shared/lib/elo.ts
Due: biome, types

refactor: extract UI sub-components from HomeRoute into HomeSections
  .Jules/palette.md
  src/app/routes/HomeRoute.test.tsx
  src/app/routes/HomeRoute.tsx
  src/app/routes/components/HomeSections.tsx
Due: biome, types

chore: downgrade pnpm from 10.27.0 to 10.26.1 in package.json and ci.yml to resolve version mismatch ERR_PNPM_BAD_PM_VERSION
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: none

Optimize TopNamesChart reduce with for loop
  .jules/bolt.md
  src/features/dashboard/components/analytics/components/TopNamesChart.tsx
Due: biome, types

Fix CI pnpm version mismatch
  .github/workflows/ci.yml
Due: none

Fix Knip check by ignoring vercel binary
  config/knip.json
Due: none

Optimize ratings object iteration in tournament flow
  test_perf.js
  test_perf_average.js
  test_perf_elo.js
  test_perf_tournamentflow.js
Due: biome

perf(nameselector): replace O(N) finds with O(1) Map lookups
  plan.md
Due: none

refactor(elo): optimize array iterations in applyMatchUpdate
  src/shared/lib/elo.ts
Due: biome, types

Add title attributes to icon-only buttons and semantic section to toasts
  test-button-icon.tsx
  test-ui-prune.js
Due: biome, types

refactor: prune dashboard ui into smaller components
  src/app/providers/toastContext.tsx
  src/app/routes/components/HomeSections.tsx
  src/features/dashboard/Dashboard.tsx
  src/features/dashboard/components/analytics/Dashboard.tsx
  src/features/dashboard/components/analytics/RankingAdjustment.tsx
  src/features/dashboard/components/analytics/ui/DashboardCommunityStats.tsx
  src/features/dashboard/components/analytics/ui/DashboardEngagementPanel.tsx
  src/features/dashboard/components/analytics/ui/DashboardPersonalResults.tsx
  src/features/dashboard/components/analytics/ui/DashboardQuickStats.tsx
  src/features/dashboard/components/analytics/ui/index.ts
  src/features/dashboard/components/analytics/utils/quickStats.ts
  src/features/tournament/hooks/useAudioManager.test.tsx
  src/shared/components/layout/CatImage.tsx
  src/shared/components/layout/FloatingNavbar.tsx
  src/shared/components/layout/Modal.tsx
  src/shared/lib/storage.test.ts
  src/shared/services/error/errorClassification.test.ts
Due: biome, types

feat(🎨 Palette): replace select with magic toggle
  test-plan.md
Due: none

test(tournament): add test for createMatchRecord
  src/features/tournament/utils/tournamentLogic.test.ts
Due: biome, types

⚡ Bolt: optimize O(N) array scans to O(1) Map lookups in NameSelector
  src/app/providers/toastContext.tsx
  src/app/routes/components/HomeSections.tsx
  src/features/dashboard/Dashboard.tsx
  src/features/dashboard/components/analytics/RankingAdjustment.tsx
  src/features/tournament/components/NameSelector.tsx
  src/features/tournament/hooks/useAudioManager.test.tsx
  src/shared/components/layout/CatImage.tsx
  src/shared/components/layout/FloatingNavbar.tsx
  src/shared/components/layout/Modal.tsx
  src/shared/lib/storage.test.ts
  src/shared/services/error/errorClassification.test.ts
Due: biome, types

refactor: 🧹 use type-safe generic for runBooleanAdminRpc
  src/shared/api/names/api.ts
Due: biome, types
