Repository guitarbeat/Naming-Nosferatu: changes, and which lefthook commands are due for each by the changed paths.
All: biome, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    architecture:
      run: pnpm run check:arch
    copy-artifacts:
      run: pnpm run check:copy-artifacts
    case-collisions:
      run: pnpm run check:case-collisions
    biome:
      glob: "*.{js,jsx,ts,tsx,css}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    types:
      glob: "*.{ts,tsx}"
      run: pnpm run lint:types

perf: ⚡ Bolt: replace array method chains with short-circuiting loops
  .jules/bolt.md
  src/features/dashboard/components/analytics/components/RatingRadarChart.tsx
  src/features/dashboard/components/analytics/components/WinLossChart.tsx
Due: biome, types

refactor: micro-clean raw HTML buttons in tournament views
  src/features/tournament/components/TournamentComplete.tsx
  src/features/tournament/components/TournamentHeader.tsx
  src/features/tournament/modes/TournamentFlow.tsx
Due: biome, types

refactor: micro-clean raw html buttons in tournament views
  src/app/routes/HomeRoute.tsx
  src/features/dashboard/components/analytics/Dashboard.tsx
  src/features/dashboard/components/analytics/hooks/useDashboardData.test.ts
  src/features/tournament/components/NameSelector.tsx
  src/features/tournament/components/TournamentComplete.tsx
  src/features/tournament/components/TournamentHeader.tsx
  src/features/tournament/hooks/useTournamentState.ts
  src/features/tournament/modes/TournamentFlow.tsx
  src/shared/api/names/queries.test.ts
  src/shared/components/layout/Card/Card.tsx
  src/shared/components/layout/CatImage.tsx
  src/shared/components/layout/Feedback/ErrorBoundary.tsx
  src/shared/components/layout/Feedback/Loading.tsx
  src/shared/components/layout/FormPrimitives.tsx
  src/shared/services/supabase/ratingService.ts
  src/shared/services/telemetrySeam.test.ts
Due: biome, types

perf: ⚡ Bolt: optimize array transformations in utils and charts
  .jules/bolt.md
  src/features/dashboard/components/analytics/components/RatingRadarChart.tsx
  src/features/dashboard/components/analytics/components/WinLossChart.tsx
  src/shared/lib/utils.ts
Due: biome, types

perf: ⚡ Bolt: optimize chart data transformations and createSortedKey
  .jules/bolt.md
Due: none

perf: optimize chart data transformations and createSortedKey
  .jules/bolt.md
Due: none

refactor: replaced raw buttons with shared Button component in TournamentFlow
  src/features/tournament/modes/TournamentFlow.tsx
  test-ui.js
Due: biome, types

refactor: smash raw buttons in TournamentFlow
  test-ui.js
Due: biome

refactor: smash raw buttons in TournamentFlow
  src/app/routes/HomeRoute.tsx
  src/features/dashboard/components/analytics/Dashboard.tsx
  src/features/dashboard/components/analytics/hooks/useDashboardData.test.ts
  src/features/tournament/components/NameSelector.tsx
  src/features/tournament/components/TournamentHeader.tsx
  src/features/tournament/hooks/useTournamentState.ts
  src/features/tournament/modes/TournamentFlow.tsx
  src/shared/api/names/queries.test.ts
  src/shared/components/layout/Card/Card.tsx
  src/shared/components/layout/CatImage.tsx
  src/shared/components/layout/Feedback/ErrorBoundary.tsx
  src/shared/components/layout/Feedback/Loading.tsx
  src/shared/components/layout/FormPrimitives.tsx
  src/shared/services/supabase/ratingService.ts
  src/shared/services/telemetrySeam.test.ts
Due: biome, types

perf: Optimize array transformations in dashboard charts
  .jules/bolt.md
  src/features/dashboard/components/analytics/components/RatingDistributionChart.tsx
  src/features/dashboard/components/analytics/components/RatingRadarChart.tsx
  src/features/dashboard/components/analytics/components/WinLossChart.tsx
Due: biome, types

feat: add aria-labels and tooltips to admin icon buttons
  plan.md
  src/features/dashboard/components/admin/components/AdminNamesTab.tsx
Due: biome, types

perf: optimize array transformations in dashboard charts
  .jules/bolt.md
Due: none

feat: 🎨 Palette: add tooltips to admin buttons
  plan.md
  src/features/dashboard/components/admin/components/AdminNamesTab.tsx
Due: biome, types

feat(ui): add tooltips to admin buttons
  src/features/dashboard/components/admin/components/AdminNamesTab.tsx
  src/features/tournament/components/TournamentHeader.tsx
  src/features/tournament/modes/TournamentFlow.tsx
  src/shared/api/names/queries.test.ts
  src/shared/components/layout/Card/Card.tsx
  src/shared/components/layout/Feedback/ErrorBoundary.tsx
  src/shared/components/layout/Feedback/Loading.tsx
  src/shared/components/layout/FormPrimitives.tsx
  src/shared/services/telemetrySeam.test.ts
Due: biome, types

refactor: group floating navbar buttons into magic toggle
  src/shared/components/layout/FloatingNavbar.test.tsx
  src/shared/components/layout/FloatingNavbar.tsx
  src/shared/components/ui/MagicToggle.tsx
Due: biome, types

feat: add title attributes to icon-only buttons in AdminNamesTab
  src/features/dashboard/components/admin/components/AdminNamesTab.tsx
Due: biome, types

perf(tournament): optimize getCacheKey string building on hot path
  .jules/bolt.md
  src/features/tournament/utils/tournamentLogic.ts
Due: biome, types

feat: add title attributes to icon-only buttons in AdminNamesTab
  src/app/routes/HomeRoute.tsx
  src/features/dashboard/components/admin/components/AdminNamesTab.tsx
  src/features/dashboard/components/analytics/Dashboard.tsx
  src/features/dashboard/components/analytics/hooks/useDashboardData.test.ts
  src/features/tournament/components/NameSelector.tsx
  src/features/tournament/components/TournamentHeader.tsx
  src/features/tournament/hooks/useTournamentState.ts
  src/features/tournament/modes/TournamentFlow.tsx
  src/shared/api/names/queries.test.ts
  src/shared/components/layout/Card/Card.tsx
  src/shared/components/layout/CatImage.tsx
  src/shared/components/layout/Feedback/ErrorBoundary.tsx
  src/shared/components/layout/Feedback/Loading.tsx
  src/shared/components/layout/FormPrimitives.tsx
  src/shared/services/supabase/ratingService.ts
Due: biome, types

perf: ⚡ Bolt: optimize cache key generation string building
  .jules/bolt.md
Due: none

perf(charts): optimize array slicing and mapping with short-circuiting loops
  .jules/bolt.md
  src/features/dashboard/components/analytics/components/RatingRadarChart.tsx
  src/features/dashboard/components/analytics/components/WinLossChart.tsx
Due: biome, types

perf: ⚡ Bolt: Optimize large array extraction in analytics charts
  .jules/bolt.md
Due: none

perf: replace filter and slice chain with short circuiting loop
  .jules/bolt.md
  src/features/dashboard/components/analytics/components/RatingRadarChart.tsx
  src/features/dashboard/components/analytics/components/WinLossChart.tsx
Due: biome, types

perf: replace filter and slice chain with short circuiting loop
  .jules/bolt.md
Due: none

refactor: replace raw buttons with Button component
  src/features/tournament/components/TournamentComplete.tsx
  src/features/tournament/components/TournamentHeader.tsx
  src/features/tournament/modes/TournamentFlow.tsx
Due: biome, types

refactor: 🧹 Extract FormPrimitives and make inputs playful
  src/features/dashboard/components/admin/components/AdminNamesTab.tsx
  src/features/tournament/components/NameSuggestion.tsx
  src/shared/components/profile/ProfileInner.tsx
  src/shared/components/ui/FormPrimitives.test.tsx
  src/shared/components/ui/FormPrimitives.tsx
Due: biome, types

refactor: extract FormPrimitives and make inputs playful
  src/features/dashboard/components/admin/components/AdminNamesTab.tsx
  src/features/tournament/components/NameSuggestion.tsx
  src/features/tournament/modes/TournamentFlow.tsx
  src/shared/api/names/queries.test.ts
  src/shared/components/layout/Card/Card.tsx
  src/shared/components/layout/Feedback/ErrorBoundary.tsx
  src/shared/components/layout/Feedback/Loading.tsx
  src/shared/components/layout/FormPrimitives.test.tsx
  src/shared/components/layout/FormPrimitives.tsx
  src/shared/components/profile/ProfileInner.tsx
  src/shared/services/telemetrySeam.test.ts
Due: biome, types

refactor: extract FormPrimitives and make inputs playful
  src/shared/components/ui/MagicToggle.tsx
Due: biome, types
