Repository guitarbeat/Naming-Nosferatu: changes, and which lefthook commands are due for each by the changed paths.
All: biome, types

biome:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

types:
  run: pnpm run lint:types

Introduce a dynamic liquid gradient background with mouse interaction
  package.json
  pnpm-lock.yaml
  src/app/App.tsx
  src/shared/components/layout/AppLayout.tsx
  src/shared/components/layout/LiquidGradientBackground.tsx
Due: biome, types

Consolidate typography styles and remove unused code
  src/app/App.tsx
  src/shared/components/layout/LiquidGradient.css
  src/styles/background.css
  src/styles/index.css
  src/styles/typography.css
Due: biome, types

1
  src/styles/layout.css
  src/styles/motion.css
  src/styles/reset.css
  src/styles/tokens.css
  src/styles/typography.css
Due: biome

Saved progress at the end of the loop
  .replit
Due: none

Add fuzzy search and advanced statistical analysis to the platform
  package.json
  pnpm-lock.yaml
  replit.md
  src/features/analytics/components/RatingDistributionChart.tsx
  src/features/analytics/components/TopNamesChart.tsx
  src/features/analytics/services/analyticsService.ts
  src/features/tournament/components/AdvancedNameFilter.tsx
  src/features/tournament/components/NameSelector.tsx
  src/shared/hooks/useFuzzySearch.ts
  src/shared/lib/ratingStats.ts
Due: biome, types

Extract navbar styling into a dedicated CSS file
  src/styles/components.css
  src/styles/index.css
  src/styles/navbar.css
Due: biome

done
  src/app/App.tsx
  src/features/tournament/components/AdvancedNameFilter.tsx
  src/features/tournament/hooks/useHelpers.tsx
  src/shared/hooks/index.ts
Due: biome, types

Improve navigation and error handling across the application
  src/features/tournament/components/NameSelector.tsx
  src/shared/components/layout/AppLayout.tsx
  src/shared/components/layout/Feedback/ErrorBoundary.tsx
  src/shared/components/layout/FloatingNavbar.tsx
Due: biome, types

Integrate tournament and analysis sections into a single scrolling page
  src/app/App.tsx
  src/features/tournament/components/NameSelector.tsx
  src/features/tournament/components/TournamentComplete.tsx
  src/features/tournament/modes/TournamentFlow.tsx
  src/shared/components/layout/FloatingNavbar.tsx
Due: biome, types

0
  src/app/App.tsx
  src/shared/components/layout/SectionHeading.tsx
Due: biome, types

added admin stuff
  .output.txt
  src/features/names/mapNameRow.test.ts
  src/features/names/queries.test.ts
Due: biome, types

added admin stuff
  src/features/names/mutations.test.ts
  src/features/names/mutations.ts
  src/features/names/queries.test.ts
  src/features/names/queries.ts
Due: biome, types

added admin stuff
  final_vitest_results.txt
  src/app/App.test.tsx
  src/app/main.test.tsx
  src/features/names/mutations.test.ts
  src/features/names/mutations.ts
  src/features/names/queries.test.ts
  src/features/names/queries.ts
  src/shared/components/layout/FloatingNavbar.test.tsx
  src/shared/components/layout/FloatingNavbar.tsx
  test_output.txt
  vitest_results.txt
Due: biome, types

test(storage): add comprehensive test coverage for storage utilities
  src/shared/lib/storage.test.ts
  src/shared/lib/storage.ts
Due: biome, types

test: add error path test for getStorageString
  src/shared/lib/storage.test.ts
  src/shared/lib/storage.ts
Due: biome, types

test(shared): add tests for isRpcSignatureError
  src/shared/lib/errors.test.ts
Due: biome, types

test: add complete storage utility tests and fix getStorageString bug
  src/shared/lib/storage.test.ts
  src/shared/lib/storage.ts
Due: biome, types

perf: optimize category filtering in AdvancedNameFilter
  src/features/tournament/components/AdvancedNameFilter.tsx
Due: biome, types

fix: replace insecure Math.random with crypto.randomUUID for file uploads
  src/shared/services/supabase/api.images.test.ts
  src/shared/services/supabase/api.ts
Due: biome, types

test(shared): add tests for isRpcSignatureError
  package.json
  pnpm-lock.yaml
Due: none

test: add error path test for getStorageString
  package.json
  pnpm-lock.yaml
Due: none

test(storage): add comprehensive test coverage for storage utilities
  package.json
  pnpm-lock.yaml
Due: none

perf: optimize category filtering in AdvancedNameFilter and fix CI
  package.json
  pnpm-lock.yaml
Due: none

fix: replace insecure Math.random with crypto.randomUUID for file uploads
  package.json
  pnpm-lock.yaml
Due: none

fix: remove unused pnpm dependency from package.json
  package.json
  pnpm-lock.yaml
Due: none

test: add complete storage utility tests and fix getStorageString bug
  package.json
  pnpm-lock.yaml
Due: none

perf: resolve N+1 mutation in bulk unlock
  get_mutations.py
  get_types.py
  package.json
  pnpm-lock.yaml
  src/features/admin/AdminDashboard.tsx
  src/features/names/mutations.test.ts
  src/features/names/mutations.ts
  supabase/migrations/20260401600000_batch_update_name_locked.sql
  test_plan.md
Due: biome, types

perf: resolve N+1 mutation in bulk unlock
  get_mutations.py
  get_types.py
  package.json
  pnpm-lock.yaml
  test_plan.md
Due: none

Redesign the home page hero and section copy
  src/app/App.tsx
  src/features/tournament/Tournament.tsx
  src/features/tournament/components/MatchSideCard.tsx
  src/features/tournament/components/NameSelector.tsx
  src/shared/components/layout/AppLayout.tsx
  src/shared/components/layout/SectionHeading.tsx
  src/styles/components.css
Due: biome, types

Refresh analytics dashboard layout
  src/features/analytics/Dashboard.tsx
  src/features/analytics/PersonalResults.tsx
Due: biome, types

Refactor app boot flow and clean up UI lint issues
  src/app/App.tsx
  src/app/AppShell.tsx
  src/app/components/AppBootScreen.tsx
  src/app/routes/AdminRoute.tsx
  src/app/routes/HomeRoute.tsx
  src/features/analytics/Dashboard.tsx
  src/features/analytics/PersonalResults.tsx
  src/features/tournament/Tournament.tsx
  src/features/tournament/components/MatchSideCard.tsx
  src/features/tournament/components/NameSelector.tsx
  src/features/tournament/components/NameSuggestion.tsx
  src/shared/components/layout/Feedback/Loading.tsx
  src/shared/components/layout/FloatingNavbar.tsx
  src/shared/components/layout/LiquidGradientBackground.tsx
  src/shared/hooks/useFuzzySearch.ts
  src/shared/types/index.ts
  src/store/appStore.ts
Due: biome, types

Lazy-load app background and simplify app boot tests
  .npmrc
  config/vite.config.ts
  src/app/App.test.tsx
  src/shared/components/layout/AppLayout.tsx
  src/shared/components/layout/Feedback/Loading.tsx
Due: biome, types

Merge vetted branch improvements into main
  package.json
  pnpm-lock.yaml
  src/features/admin/AdminDashboard.tsx
  src/features/names/mutations.test.ts
  src/features/names/mutations.ts
  src/features/tournament/components/AdvancedNameFilter.tsx
  src/shared/lib/errors.test.ts
  src/shared/lib/storage.test.ts
  src/shared/lib/storage.ts
  src/shared/services/supabase/api.images.test.ts
  src/shared/services/supabase/api.ts
  supabase/migrations/20260401600000_batch_update_name_locked.sql
  supabase/migrations/20260409165642_d864240a-0e35-4c40-b8a5-7a981f2b4975.sql
Due: biome, types

Refactor app structure and dashboard state
  src/app/providers/Providers.tsx
  src/app/providers/authContext.tsx
  src/app/providers/providerTypes.ts
  src/app/providers/toastContext.tsx
  src/app/routes/HomeRoute.tsx
  src/app/routes/components/HomeHeroSection.tsx
  src/app/routes/components/TournamentBracketSection.tsx
  src/features/admin/AdminDashboard.tsx
  src/features/admin/components/AdminNamesTab.tsx
  src/features/admin/components/AdminOverviewTab.tsx
  src/features/admin/components/AdminPlaceholderTab.tsx
  src/features/admin/components/AdminStatsGrid.tsx
  src/features/admin/components/AdminTabNav.tsx
  src/features/analytics/Dashboard.tsx
  src/features/analytics/components/DashboardPrimitives.tsx
  src/features/analytics/hooks/useDashboardData.test.ts
  src/features/analytics/hooks/useDashboardData.ts
  src/features/names/hooks/useNameAdminActions.test.tsx
  src/features/names/hooks/useNameAdminActions.ts
  src/features/names/mutations.ts
  src/features/tournament/components/NameSelector.tsx
  src/features/tournament/utils/nameSelection.test.ts
  src/features/tournament/utils/nameSelection.ts
  src/shared/hooks/index.ts
  src/shared/hooks/useBrowserState.ts
  src/shared/hooks/useCollapsible.ts
  src/shared/hooks/useLocalStorage.ts
  src/shared/hooks/useNameSuggestion.ts
  src/shared/lib/setUtils.test.ts
  src/shared/lib/setUtils.ts
  src/store/appStore.shared.ts
  src/store/appStore.ts
  src/store/appStore.types.ts
  src/store/slices/errorSlice.ts
  src/store/slices/tournamentSlice.ts
  src/store/slices/userSettingsSlice.ts
Due: biome, types

Disable skipped Vercel build override
  vercel.json
Due: none

Path conditions:
  biome: any of: *.{js,jsx,ts,tsx,css}
  types: any of: *.{ts,tsx}
